.board_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid rgba(0, 0, 0, 0.424);
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(119, 119, 119, 0.493);
    background-color: rgba(255, 255, 255, 0.356);
    margin: 3rem auto;
    padding: 1rem;
    align-items: flex-start;
    justify-content: space-around;
    list-style: none;
    animation: show 1s ease-in-out;
    position: relative;
  }

#btn_upload {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#btn_upload button,
#modal_close button{
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
    border: none;
    font-weight: 600;
    box-shadow: 2px 3px 3px rgba(119, 119, 119, 0.493);
    transition: .2s ease-in-out;
}

#btn_upload button{
    padding: 5px 5px;
    margin-right: 5px;
}

#modal_close button{
    padding: 5px 10px;
}

#modal_close button:hover,
#btn_upload button:hover{
    background-color: #20c99642;
    color: white;
}

.boards {
    display: flex;
    width: 100%;
    border: 1px solid black;
    margin: 10px 0;
}

.boards_content {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(119, 119, 119, 0.493);
    border-radius: 5px;
    box-shadow: 2px 3px 3px rgba(119, 119, 119, 0.493);
    margin: 10px 10px;
    padding: 10px 5px;
    cursor: pointer;
}

.boards_content:hover{
    background-color: #20c99642;
}

.board_img {
    background-color: white;
    background-image: url("img/mintchocobear.png");
    background-size: 100% 100%;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

.board_infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board_modal {
    display: flex;
    flex-direction: column;
    position:absolute;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 100%;
    background-color: rgba(240, 248, 255, 0.9);
}

#modal_close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 5%;
    right: 2%;
}
