body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #ffffff;
    height: 100%;
    display: block;
    overflow-x: hidden;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
  

.navbar {
font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
--bs-bg-opacity: 1;
background-color: rgb(242, 255, 250);
justify-content: flex-start;
min-width: 992px;
flex-wrap: wrap;
position: fixed;
top: 0;
width: 100%;
display: flex;
align-items: center;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
overflow: hidden;
z-index: 1;
}


/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

.sticky + .header {
padding-top: 60px;
}

.containerFluid {
display: flex;
flex-wrap: inherit;
align-items: center;
justify-content: space-between;
width: 100%;
padding-right: var(--bs-gutter-x, 0.75rem);
padding-left: var(--bs-gutter-x, 0.75rem);
margin-right: auto;
margin-left: auto;
}

.navbarBrand {
color: #ffffffaf;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
text-shadow: 1px 2px 1px #20c997;
padding-bottom: 0.3125rem;
margin-right: 1rem;
font-size: 1.25rem;
text-decoration: none;
white-space: nowrap;
cursor: pointer;
}

.navbar .navbarCollapse {
display: flex !important;
flex-basis: auto;
min-width: 992px;
}

.navbarCollapse {
flex-basis: 100%;
flex-grow: 1;
align-items: center;
}


.navbarNav {
    flex-direction: row;
    min-width: 992px;
    margin-right: auto !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    display: flex;
}


.navItem {
display: list-item;
text-align: -webkit-match-parent;
}

.navItem a {
/* color: #5a5a5a; */
display: block;
padding: 0.5rem 1rem;
text-decoration: none;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}


.navbarNav a:hover{
    color: #9c9c9cc9;
}


.header {
margin: 80px auto 30px auto;
max-width: 1080px;
text-align: center;
display: block;
}

@keyframes showHeader{
    0%{
        opacity: 0;
        transform: scaleY(0.2);
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
}

.header div{
background-image: url("./img/ocean.jpg");
background-size: 100% 100%;
height: 300px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 5px 5px 3px rgba(119, 119, 119, 0.493);
border-radius: 10px;
opacity: 0;
animation: showHeader 1.5s ease-in-out forwards;
}

@keyframes showTitle {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
    }
}

.link {
display: block;
opacity: 0;
margin-block-start: 0.67em;
margin-block-end: 0.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
font-family:'Times New Roman', Times, serif;
font-style: italic;
line-height: 1.5;
font-size: 40px;
cursor: pointer;
color: #f3f3f367;
text-shadow: 2px 2px rgba(5, 5, 5, 0.513);
text-decoration: solid;
letter-spacing: 5px;
animation: showTitle 1.5s forwards;
animation-delay: 1s;
}

header .link:hover{
color: #ffffffb9;
}
