.container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 1250px; */
  justify-content: center;
}

.mainImg {
  background-image: url("../css/img/portfolio_basic_home.png");
  width: 1200px;
  height: 800px;
  margin-right: 30px;
  position: relative;
}

.homes {
  display: flex;
  position: absolute;
  width: 380px;
  height: 240px;
  cursor: pointer;
}

.mainImg .homesNav {
  display: flex;
  width: 100px;
  height: 270px;
  position: absolute;
  top: 22.5%;
  right: 2.4%;
  cursor: pointer;
}

.homes:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.homeProject {
  left: 15%;
  top: 23%;
}

.homeProfile {
  top: 23%;
  left: 51%;
}

.homeContact {
  left: 15%;
  top: 58%;
}

.mainImg a,
.homesNav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  text-decoration: none;
}

.mainImg a {
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}

.mainNav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
