.container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -40%);
  justify-content: center;
  animation: showContainer 0.5s ease-in-out forwards;
}

@keyframes showContainer {
  from {
  }
  to {
    opacity: 1;
  }
}

.mainImg {
  background-image: url("../css/img/portfolio_basic_home.png");
  width: 1200px;
  height: 800px;
  margin-right: 30px;
  position: relative;
}

.homes {
  display: flex;
  position: absolute;
  width: 380px;
  height: 240px;
  cursor: pointer;
}

.mainImg .mainNav {
  display: flex;
  width: 100px;
  height: 270px;
  position: absolute;
  top: 22.5%;
  right: 2.4%;
  cursor: pointer;
}

.homes a:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.3);
}

.homeProject {
  left: 15%;
  top: 23%;
}

.homeProfile {
  top: 23%;
  left: 51%;
}

.homeContact {
  left: 15%;
  top: 58%;
}

.mainImg a,
.homesNav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  text-decoration: none;
  cursor: pointer;
}

.mainImg a {
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  color: black;
}

.mainNav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.roof {
  position: absolute;
  left: 18%;
  top: 13%;
  opacity: 0.6;
  font-weight: bold;
  font-size: 1.5em;
  font-style: italic;
  color: white;
  text-transform: uppercase;
  cursor: default;
}

.door {
  position: absolute;
  width: 120px;
  height: 195px;
  bottom: 12%;
  right: 27.5%;
  cursor: pointer;
}

.door:hover {
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  animation: doorscolor 2s ease-in-out infinite;
}

@keyframes doorscolor {
  0% {
    background-color: rgba(0, 255, 162, 0.106);
  }
  50% {
    background-color: rgba(0, 255, 162, 0.5);
  }
  100% {
    background-color: rgba(0, 255, 162, 0.106);
  }
}

.doorOpen {
  display: flex;
  align-items: flex-end;
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: inherit;
}

.kitty {
  background-image: url("./img/cat.png");
  width: 110px;
  height: 110px;
  background-size: cover;
}

@media screen and (max-width: 1230px) and (min-width: 920px) {
  .container {
    left: 50%;
    top: 45%;
    transform: translate(-50%, -40%);
  }
  .mainImg {
    width: 1000px;
    height: 600px;
    background-size: contain;
  }
  .homes {
    width: 280px;
    height: 180px;
  }
  .homeProject {
    left: 13.8%;
    top: 23%;
  }

  .homeProfile {
    top: 23%;
    left: 46.2%;
  }

  .homeContact {
    left: 13.8%;
    top: 58%;
  }
  .mainImg .mainNav {
    width: 78px;
    height: 208px;
    top: 22.2%;
    right: 12%;
  }
  .mainImg a {
    font-size: 1.5em;
  }
  .door {
    width: 90px;
    height: 145px;
    bottom: 12%;
    right: 34.5%;
  }
  .kitty {
    width: 80px;
    height: 80px;
    background-size: contain;
  }
  .roof {
    left: 16%;
    top: 12.5%;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 920px) {
  .container {
    left: 50%;
    top: 45%;
    transform: translate(-50%, -40%);
  }
  .mainImg {
    background-image: url("../css/img/m_home.png");
    flex-direction: column;
    width: 320px;
    height: 100%;
    min-height: 640px;
  }
  .homes {
    width: 230px;
    height: 115px;
    left: 7.5%;
    font-size: 0.8em;
  }
  .homeProject {
    top: 14.5%;
  }
  .homeProfile {
    top: 34%;
  }
  .homeContact {
    top: 53.5%;
  }
  .mainImg .mainNav {
    width: 228px;
    height: 60px;
    top: 2%;
    left: 10.5%;
  }
  .homesNav a {
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
    text-align: center;
  }
  .homesNav a > span {
    background-image: url("../css/img/mintchocoM.png");
    width: 50px;
    height: 50px;
    background-size: contain;
  }
  .door {
    width: 82px;
    height: 110px;
    bottom: 8.5%;
    left: 32%;
  }
  .door:hover {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .doorOpen {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .kitty {
    width: 80px;
    height: 80px;
  }
}
