:root {
  --active-brightness: 0.85;
  --border-radius: 5px;
  --box-shadow: 2px 2px 5px;
  --color: #118bee;
  --color-accent: #118bee15;
  --color-bg: #ffffff;
  --color-bg-secondary: #e9e9e9;
  --color-link: #118bee;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-table: #118bee;
  --color-text: #000;
  --color-text-secondary: #999;
  --color-font: rgb(68, 68, 68);
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: center;
  --line-height: 1.5;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 1020px;
  --width-content: 1080px;
}


.container {
    display: grid;
    margin: 0 auto;
    margin-bottom: 8rem;
    max-width: 1080px;
    /* border: 3px solid #20c997; */
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-items: center;
    background-color: #f5f5f560;
    box-shadow: 2px 3px 3px rgba(119, 119, 119, 0.493);
}

#title {
  margin-bottom: 1.5rem;
}

#title h2 {
  text-decoration: underline;
}

#resume {
  background-color: rgb(248, 245, 241);
  width: 90%;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 10px;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
  }
}


.content {
  display: grid;
  grid-column-gap: 20px;
  grid-column: auto;
  border: 2px solid rgba(0, 0, 0, 0.829);
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(119, 119, 119, 0.493);
  background-color: rgba(255, 255, 255, 0.356);
  margin: 3rem auto;
  grid-auto-flow: column;
  justify-content: start;
  padding: 1rem;
  align-items: baseline;
  animation: show 1s ease-in-out;
}

.content h3 {
  width: fit-content;
  font-size: 20px;
}

.content ul {
  list-style-image: url("./img/leaf01.png");
  list-style-position: outside;
}

.content li {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.692);
}

.content .dropbtn {
  cursor: pointer;
}

.content .dropbtn:hover  {
  color: #8f8f8fd3;
}

.dropstyle {
  display: block;
}

.dropdown {
  position: static;
  display: inline-block;
}

.dropbtn {
  margin-top: 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  width: fit-content;
  border: none;
  display: block;
}

@keyframes showDrops {
  0%{
    transform: translateY(-5px);
    opacity: 0;
  }
  100%{
  }
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation: showDrops .8s ease-in-out;
}

.dropdownContent span,
.dropdownContent a{
  width: fit-content;
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-font);
  font-size: 17px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.dropdownContent span {
  font-size: 14px;
  background-color: #56565660;
  color: white;
  margin: 2px 5px;
  padding: 2px 5px;
  border-radius: 8px;
  cursor:default;
}

.dropdownContent a{
  width: 100%;
}

.dropdownContent a:hover {
  color: #20c997;
  cursor: pointer;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #8f8f8fd3;
}

/* .content p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 19px;
} */


.content span {
  display: block;
}
